[submodule "ultimate-makefile"]
	path = ultimate-makefile
	url = https://github.com/tamasseller/ultimate-makefile
[submodule "http-parser"]
	path = http-parser
	url = https://github.com/nodejs/http-parser.git
[submodule "pet"]
	path = pet
	url = https://github.com/tamasseller/pet
[submodule "test/ultimate-makefile"]
	path = test/ultimate-makefile
	url = http://github.com/tamasseller/ultimate-makefile
[submodule "test/toolchains"]
	path = test/toolchains
	url = http://github.com/tamasseller/toolchains
